@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Roboto:ital,wght@0,400;1,700&display=swap');



/* ---------- images -------- */


body {
    background-image: url("../pics/bgkr.jpg");
    background-repeat: none;
}

.profileimg {
    padding-top: 10px;
}

/* ---------- Navigation -------- */
.bg-dark {
    background-color: rgba(52,52,52, 0.2)!important;
}

/* ---------- Footer -------- */
