@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

html {
    min-height: 100vh;
}

body {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     font-family: 'Overpass', sans-serif;
}

.pad-top {
    padding-top: 25px;
}

.pad-bottom {
    padding-bottom: 35px;
}

iframe {
    width: 768px;
    height: 480px;
}

.contactlinks a {
    padding: 20px;
}

.projectlinks {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 35px;
     -webkit-box-shadow: inset 10px 10px 83px -5px rgba(255, 250, 250, 0.25);
    -moz-box-shadow: inset 10px 10px 83px -5px rgba(255, 255, 255, 0.25);
    box-shadow: inset 10px 10px 83px -5px rgba(255, 255, 255, 0.25);
}


/* ---------- images -------- */

/*----- Code from https://www.w3schools.com/cssref/pr_background-attachment.asp ----*/
body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*----- Code from https://www.w3schools.com/cssref/pr_background-attachment.asp ending----*/

.profileimg {
    padding-top: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    margin-top: 35px;
    -webkit-box-shadow: inset 10px 10px 83px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 10px 10px 83px -5px rgba(0,0,0,0.5);
    box-shadow: inset 10px 10px 83px -5px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 768px) {
    .profileimg {
        transform: scale(0.9);
    }

    .pad-landscape {
    padding-top: 0px;
    padding-bottom: 0px;
}
    iframe {
    width: 352px;
    height: 240px;
    }
}

.projectimg {
    max-width: 100%;
    height: auto;
    padding: 15px;
}

.projectimg:hover {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

/* ---------- Navigation -------- */
.bg-dark {
    background-color: black !important;
    -webkit-box-shadow: 0px 0px 50px 0px whitesmoke;
    -moz-box-shadow: 0px 0px 50px 0px  whitesmoke;
    box-shadow: 0px 0px 50px 0px  whitesmoke;
}

.logo {
    height: 35px
}

.logo:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
.fa-file-pdf {
    padding-left: 7px;
    color: rgb(200, 0, 0);
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.7rem;
        padding-left: 0.7rem;
    }
}
/*---- Code from https://github.com/IanLunn/Hover/blob/master/css/hover.css ----*/
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: whitesmoke;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
/*---- Code from https://github.com/IanLunn/Hover/blob/master/css/hover.css ending----*/

/*-------- Gallery ------*/

/*---- Code from https://bootsnipp.com/snippets/p1qAD ----*/
.gal {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin: -10px;
    padding: 20px;
}

.gal img {
    width: 100%;
    padding: 7px 0;
    border-radius: 35px;
    filter: grayscale(100%);
}

@media (max-width: 500px) {
    .gal {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
        padding: 20px;
    }
}

/*---- Code from https://bootsnipp.com/snippets/p1qAD ending----*/

/*----- Code from https://codepen.io/nxworld/pen/ZYNOBZ?fbclid=IwAR1C0Fp-oCTJS1KfeV7TDmL_3KJNneOL146xKX0Y1Bl6UbP6X6TSF_SKV-k----*/

.hover01 img {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hover01 img:hover {
    transform: scale(1.02);
    filter: none;
}

/*----- code from https://codepen.io/nxworld/pen/ZYNOBZ?fbclid=IwAR1C0Fp-oCTJS1KfeV7TDmL_3KJNneOL146xKX0Y1Bl6UbP6X6TSF_SKV-k ending----*/

/* ----- Footer -----*/

footer {
    background-color: black;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 50px 0px whitesmoke;
    -moz-box-shadow: 0px 0px 50px 0px  whitesmoke;
    box-shadow: 0px 0px 50px 0px  whitesmoke;
}
/*----- code from https://www.youtube.com/watch?v=yc2olxLgKLk&ab_channel=KevinPowell -----*/

.footer-sticky {
  margin-top: auto;
}

/*----- code from https://www.youtube.com/watch?v=yc2olxLgKLk&ab_channel=KevinPowell -----*/

.footerlinks a {
    padding: 10px;
}

.footericon:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: rgb(0, 88, 228);
}

.footericon2:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: rgb(200, 0, 0);
}

/* ----- Footer Icons -----*/

.fa-linkedin,
.fa-envelope,
.fa-facebook-square, 
.fa-skype{
    font-size: 2rem;
    color: whitesmoke;
}

/* ----- Timeline -----*/

/*------- Code from https://bestjquery.com/tutorial/timeline/demo19/ -----*/

/* Timeline */

.timeline {
    padding-bottom: 10px;
}

.timeline p a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}

.timeline p i:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.timeline span.post {
    color: black;
}

.main-timeline{
    overflow: hidden;
    position: relative;
    
}
.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #d6d5d5;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    padding-right: 30px;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline:first-child:before,
.main-timeline .timeline:last-child:before{
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #d6d5d5;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: -3px;
}
.main-timeline .timeline:last-child:before{
    top: auto;
    bottom: 0;
}
.main-timeline .timeline-icon{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #d6d5d5;
    box-sizing: content-box;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: -4px;
}
.main-timeline .timeline-icon:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(0, 63, 165);
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
}
.main-timeline .year{
    display: inline-block;
    padding: 8px 20px;
    margin: 0;
    font-size: 14px;
    color: #fff;
    background: rgb(0, 63, 165);
    text-align: center;
    position: absolute;
    top: 50%;
    right: 35%;
    transform: translateY(-50%);
}
.main-timeline .year:before{
    content: "";
    border-right: 18px solid rgb(0, 63, 165);
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    position: absolute;
    top: 0;
    left: -18px;
}
.main-timeline .timeline-content{
    width: 46.5%;
    padding: 20px 30px;
    margin: 0 20px 0 0;
    background: #f2f2f2;
    position: relative;
    border-radius: 35px;

}
.main-timeline .timeline-content:after{
    content: "";
    border-left: 20px solid #f2f2f2;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
}
.main-timeline .title{
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin: 0 20px 20px 0;
}
.main-timeline .post{
    display: inline-block;
    font-size: 14px;
    color: #999;
    margin-top: 6px;
}
.main-timeline .description{
    font-size: 14px;
    color: black;
    line-height: 24px;
    margin: 20px 0;
    clear: both;
    text-align: justify;
}
.main-timeline .timeline:nth-child(2n){ padding: 0 0 0 30px; }
.main-timeline .timeline:nth-child(2n) .year{
    right: auto;
    left: 35%;
}
.main-timeline .timeline:nth-child(2n) .year:before{
    border: 18px solid transparent;
    border-right: none;
    border-left: 18px solid rgb(0, 63, 165);
    left: auto;
    right: -18px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float: right;
    margin: 0 0 0 20px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content:after{
    border-left: none;
    border-right: 20px solid #f2f2f2;
    right: auto;
    left: -20px;
}
@media only screen and (max-width: 1200px){
    .main-timeline .year{ right: 30%; }
    .main-timeline .timeline:nth-child(2n) .year{ left: 30%; }
}

@media only screen and (max-width: 992px){
    .main-timeline:before{ left: 10px; }
    .main-timeline .timeline{
        padding: 0 0 0 30px;
        margin-bottom: 20px;
    }
    .main-timeline .timeline:last-child{ margin-bottom: 0; }
    .main-timeline .timeline:first-child:before,
    .main-timeline .timeline:last-child:before{ display: none; }
    .main-timeline .timeline-icon{
        margin: 0;
        position: absolute;
        top: 7px;
        left: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{
        display: block;
        font-weight: bold;
        margin: 0 0 32px 30px;
        z-index: 1;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none;
    }
    .main-timeline .timeline:nth-child(2n) .year:before{
        border-left: none;
        border-right: 18px solid rgb(0, 63, 165);
        right: auto;
        left: -18px;
    }
    .main-timeline .timeline-content{ padding: 20px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: auto;
        float: none;
        margin: 0 0 0 30px;
    }
    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after{
        border: none;
        border-bottom: 20px solid #f2f2f2;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        top: -20px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }
}
@media only screen and (max-width: 480px){
    .main-timeline .title{
        float: none;
        margin: 0;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{ margin-left: 20px; }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{ margin-left: 10px; }
    .main-timeline .post{ margin: 5px 0; }
}

/*------- Code from https://bestjquery.com/tutorial/timeline/demo19/ ending-----*/
